[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "grainscape"]
	path = grainscape
	url = https://github.com/achubaty/grainscape
